@model CptDash.Models.ReportSearchViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group"> 
            <div class="col-md-10">
                Период
                @Html.DropDownList("PeriodId", new SelectList(Model.Periods, "Id", "Name"))
            </div>
        </div>

        <div class="form-group"> 
            <div class="col-md-10">
                Уголовник сука
                @Html.DropDownList("EmployeeId", new SelectList(Model.Employees, "Id", "Name")) 
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
